* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body{
  background: #FAF7F2;
  margin: 0;
}

/*BANNER*/
.banner-container{
  background-image: url(./public/assets/iteration-1/home-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  height: 100vh;
  width: 100%;
}

.logo{
  position: absolute;
  top: 56px;
}
 
.banner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 586px;
  position: absolute;
  top: 140px;
}

.banner-content p{
  color: #FDC913;
  font-family: Satisfy;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.banner-content h1{
  color: #fff;
  font-family: Roboto Condensed;
  font-weight: lighter;
  font-weight: 300;
  font-size: 86px;
  margin: 0;
  padding: 0;
}

.btn{
  font-family: Barlow;
  font-weight: 600;
  font-size: 1rem;
  background: #FDC913;
  border: none;
  width: 193px;
  height: 56px;
  margin-top: 10px;
}

.radius{
  border-radius: 50px;
}

#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 94px;
  padding: 29px 426px 26px 426px;
  background-color: #fff;
}

.nav-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 10px;
}

#navbar a{
  font-family: Barlow;  
  font-size: 1rem;
  color: black;
  text-decoration: none;
  margin-right: 60px;
}

/*MAIN*/
.siparis-container{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 60%;
  height: 449;
  gap: 11px;
  margin: 50px auto;
}

.siparis-card{
  width: 531px;
  height: 448px;
  background-image: url(./public/assets/iteration-2/cta/kart-1.png);
  background-position: center;
  background-size: cover;
}

.siparis-card2{
  width: 530px;
  height: 220px;
  background-image: url(./public/assets/iteration-2/cta/kart-2.png);
  background-position: center;
  background-size: cover;
}

.siparis-card3{
  background-image: url(./public/assets/iteration-2/cta/kart-3.png);
  background-position: center;
  background-size: cover;
  width: 530px;
  height: 220px;
}
.corner{
  border-radius: 12px;
}

.d-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.siparis-content{
  top: 44px;
  left: 49px;
  overflow: inherit;
}

.siparis-content h2{
  font-family: Quattrocento;
  font-size: 68px;
  font-weight: 700;
  color: white;
}

.siparis-content p{
  font-family: Barlow;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin: 20px 0;
}

.btn2{
  width: 138px;
  height: 48px;
  background-color: white;
  color: #CE2829;
  font-family: Barlow;
  font-weight: 600;
  font-size: 14px;
  border: none;
}

.siparis-content2, .siparis-content3{
  top: 28px;
  left: 32px;
}

.siparis-content2 h3{
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.siparis-content3 h3{
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

span{
  color: #CE2829;
}

/*TEXT*/
.text-section{
  display:flex;
  justify-content: center;
}

.section-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-item p{
  font-family: Satisfy;
  font-weight: 400;
  font-size: 32px;
  color: #CE2829;
}

.section-item h4{
  font-family: Barlow;
  font-weight: 600;
  font-size: 42px;
  color: #292929;
}

.main-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 60%;
  height: 10%;
  margin: 50px auto;
}

/*ICONS*/
.icon-item{
  border: none;
  background-color: #fff;
  font-family: Barlow;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 20px 12px 20px;
  gap: 10px;
}

.icon-item a{
  text-decoration: none;
  color: #000;
}

/*FOOTER*/
footer{
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
}

.last-section{
  gap: 10px;
}

.iletisim, .hot-menu, .instagram, .copyright p{
  color: #FFFFFF;
  font-family: Barlow;
}

.iletisim p, .hot-menu p, .copyright p{
  font-size: 0.9rem;
  font-weight: 200;
}

.iletisim{
  display: flex;
  flex-direction: column;
}

.logo-footer{
  width: 10rem;
}

.last-section h5{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.hot-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.copyright i{
  color: #FFFFFF;
}