* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body{
  background: #FAF7F2;
}

.banner-container{
  background-image: url(./public/assets/iteration-1/home-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  height: 100vh;
  width: 100%;
}

.logo{
  position: absolute;
  top: 56px;
}
 
.banner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 586px;
  position: absolute;
  top: 140px;
}

.banner-content p{
  color: #FDC913;
  font-family: Satisfy;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.banner-content h1{
  color: #fff;
  font-family: Roboto Condensed;
  font-weight: lighter;
  font-weight: 300;
  font-size: 86px;
  margin: 0;
  padding: 0;
}

.btn{
  font-family: Barlow;
  font-weight: 600;
  font-size: 1rem;
  background: #FDC913;
  border: none;
  border-radius: 50px;
  width: 193px;
  height: 56px;
  margin-top: 10px;
}

#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94px;
  padding: 29px 426px 26px 426px;
  background-color: #fff;
  gap: 10px;
}


#navbar a{
  font-family: Barlow;  
  font-size: 1rem;
  color: black;
  text-decoration: none;
  margin-right: 20px;
}

