* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #FAF7F2;
}

/*BANNER*/
.banner-container{
  background-image: url(./public/assets/iteration-1/home-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.logo{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
 
.banner-content{
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.banner-content p{
  color: #FDC913;
  font-family: Satisfy;
  font-weight: lighter;
  font-size: 28px;
}

.banner-content h1{
  color: #fff;
  font-family: Roboto Condensed;
  font-weight: 300;
  font-size: 4.5rem;
}

.btn{
  font-family: Barlow;
  font-weight: 600;
  font-size: 1rem;
  background: #FDC913;
  border: none;
  margin-top: 10px;
  padding: 15px 55px;
}

/*NAV*/
.radius{
  border-radius: 50px;
}

#navbar{
  background-color: #fff;
}

.container{
  max-width: 60%;
  margin: 0 auto;
}

.nav-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}

.nav-item{
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-item a{
  font-family: Barlow;  
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

/*MAIN*/
.siparis-container{
  display: flex;
  max-width: 60%;
  gap: 10px;
  margin: 50px auto 10px;
}

.siparis-container2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main{
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}

.siparis-card{
  width: 500px;
  height: 440px;
  background-image: url(./public/assets/iteration-2/cta/kart-1.png);
}

.siparis-card2{
  width: 500px;
  height: 210px;
  background-image: url(./public/assets/iteration-2/cta/kart-2.png);
}

.siparis-card3{
  background-image: url(./public/assets/iteration-2/cta/kart-3.png);
  width: 500px;
  height: 210px;
}

.siparis-content{
  position: absolute;
  top: 32px;
  left: 32px;
  color: #FFFFFF;
}

.siparis-content h2{
  font-family: Quattrocento;
  font-size: 60px;
  font-weight: 700;
  color: white;
}

.siparis-content p{
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 20px 0;
}

.btn2{
  width: 138px;
  height: 48px;
  background-color: white;
  color: #CE2829;
  font-family: Barlow;
  font-weight: 600;
  font-size: 14px;
  border: none;
  margin-top: 5px;
}

.siparis-content2, .siparis-content3{
  position: absolute;
  top: 32px;
  left: 32px;
}

.siparis-content2 h3{
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.siparis-content3 h3{
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}

.siparis-content3 span{
  color: #CE2829;
}

/*TEXT*/
.section-item{
text-align: center;
margin-top: 50px;
}

.section-item p{
  font-family: Satisfy;
  font-weight: 200;
  font-size: 32px;
  color: #CE2829;
}

.section-item h4{
  font-family: Barlow;
  font-weight: 500;
  font-size: 42px;
  color: #292929;
}

/*ICONS*/

.main-flex{ 
  display: flex; 
  justify-content: space-between; 
  gap: 20px;
  max-width: 60%;  
}

.icon-section{
  gap: 10px;
  margin: 30px auto;
}

.icon-item{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: none;
  font-family: Barlow;
  font-weight: 400;
  font-size: 1rem;
  padding: 10px 20px;
  gap: 10px;
}

.icon-section :active{
  background: #1a1a1a;
  color: #fff;
}

.icon-item a{
  text-decoration: none;
  color: #000;
}

/*PRICE*/

.price-section{
  max-width: 60%;
  margin: 50px auto;
}

.price-card{
  width: 32%;
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 12px;
}

.price-card img{
  width: 100%;
}

.price-card p {
  font-family: Barlow;
  margin: 20px 0 10px;
  font-weight: 600;
}

.price-card span{
  font-family: Barlow;
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.price-item span:last-child{
  font-weight: bold;
}

.price-item span:first-child{
  font-size: 0.8rem;
  word-spacing: 6rem;
}


/*FOOTER*/
footer{
  background-color: #1A1A1A;
}

.last-section{
  max-width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}

.iletisim, .hot-menu, .instagram, .copyright p{
  color: #FFFFFF;
  font-family: Barlow;
}

.iletisim{
  display: flex;
  flex-direction: column;
}

.adres, .email, .telefon{
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.adres{
  line-height: 1.5rem;
}

.logo-footer{
  width: 180px;
  padding: 20px 0;
  margin-bottom: 20px;
}

.iletisim p, .hot-menu p, .copyright p{
  font-size: 0.9rem;
  font-weight: 200;
}

.last-section h5{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 100px;
}

.hot-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ig-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

footer hr {
  border: 1px solid #333;
}

.copyright {
  color: #FFFFFF;
  padding: 30px 0;
  margin: 0 auto;
}

@media (max-width: 600px){

  .nav-flex, .icon-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: fit-content;
    max-width: 50%;
    padding: 50px 0;
    gap: 20px;
  }

  .siparis-container{
    flex-wrap: wrap;
    margin: 50px auto;
    min-width: 450px;
  }

  .siparis-card{
    height: 330px;
    margin-bottom: 10px;
  }

  .siparis-card2, .siparis-card3{
    height: 270px;
    width: 450px;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .section-item{
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
  }

  .price-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px auto;
    min-width: 450px;
  }

  .price-card{
    width: 100%;
  }

  .last-section{
    flex-wrap: wrap;
  }

};